*{
  margin: 0;
  padding: 0;
  border: 0;
}
.row{
  padding-left:2%;
  padding-right:2%;
  border: 2px solid;
margin: 2%;
margin-top: 5%;
}
.col-sm-12 {
  padding:5px;
  border: 2px solid;
  border-color: gray;
  text-align: center;
margin: 2%;
}
.container {
  margin-top: 2%;

}
.col-12{
  text-align: center;
}
#Titulo,#Titulo1,#Titulo0 {
  border: hidden;
}
h2{
  font-size: 26px;
}
h3{
  font-size: 20px;
}
